{% extends "layout.html" %}

{% block body %}
    
  <title>Main News</title>
  <h1>News Feed</h1>

  <body>
<!-- News 1 -->
    <h5 style="text-align:center">Daily Feed</h5>
    <h3 style="text-align:center">College Board Eliminates SAT Subject Tests and Essay</h3>
    <div
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 90px;
    > <img src="https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2021/01/23/191622_1347872.JPG.1500x844_q95_crop-smart_upscale.jpg" alt="Colleges Essay" style="width:700px;height:400px;"  >
  </div> 
    <h7 style="text-align:center">College board announces its cancelation of the SAT Subject Tests and Essays last Tuesday due to corona virus. Now, students will have to adapt to the new rules of the College Board.</h7>
    <h7>To read more <a href="https://www.thecrimson.com/article/2021/1/25/college-board-eliminates-sat-subject-test-and-essay/#:~:text=While%20the%20tests%20have%20been,international%20students%20through%20June%202021.">click here</a></h7>
<!-- News 2 -->
    <h3 style="text-align:center">Tips for SAT and ACT Test Takers</h3>
    <div
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 90px;
    > <img src="https://www.usnews.com/dims4/USNEWS/39d718b/2147483647/crop/1993x1329%2B6%2B0/resize/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fb5%2F34%2F8d3e46ce4932bdbb541e6d2be127%2F210205-studentwritingpaperdesk-stock.jpg" alt="Colleges Essay" style="width:700px;height:400px;"  >
  </div> 
    <h7 style="text-align:center">No matter what grade you are in, the SAT and ACT can be very stressful. But here are 12 important tips for you to follow right now!</h7>
    <h7>To read more <a href="https://www.usnews.com/education/best-colleges/slideshows/10-test-prep-tips-for-sat-and-act-takers">click here</a></h7>

    <p>For more news <a href="https://www.usnews.com/topics/subjects/colleges">click here</a></p>
  </body>

  {% endblock %}